<%= form_with(model: [ @article, @article.ratings.build ], local: true) do |form| %>

  <p>
    <%= form.label :score %><br>
    <%= form.text_area :score %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>