<p>
  <strong>Score:</strong>
  <%= rating.score %>
</p>

<p>
  <%= link_to 'Destroy Rating', [rating.article, rating],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>