<h1>Listing articles</h1>
 
<%= link_to 'New article', new_article_path %>

<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
    <th>Rating</th>
    <th>Average score</th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td>
        <%= form_for [article, article.ratings.new] do |form| %>
          <p>
            <%= form.label :score %><br>
            <%= form.text_area :score %>
          </p>
          <p>
            <%= form.submit %>
          </p>
        <% end %>
      </td>
      <td>
        <p>
          <%=
            total = article.ratings.sum(:score)
            diviseur = (article.ratings.length)-1
            puts diviseur
            if diviseur != 0
              average = total/diviseur
            end
          %>
        </p>
      </td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>